.add-service-form{
    width: 40%;
    margin: 0 auto;
    padding: 30px;
}
.add-service-form input,.add-service-form textarea{
    width: 100%;
    padding: 10px 15px;
    margin: 5px 0;
    border: 2px solid #ff4500;
    border-radius: 8px;
    outline: none;
}
.add-service-form textarea{
    resize: none;
}

.add-service-form input[type="submit"]{
    background: #dc143c;
    border: 2px solid #adff2f;
    color: #fff;
    font-weight: 600;
}

.add-service-form input:focus,.add-service-form textarea:focus{
    border-color: #adff2f;
}

@media(max-width:600px){
    .add-service-form{
        width: 95%;
        padding: 10px;
    }
}