.booking-form input{
    width: 100%;
    padding: 10px 12px;
    margin: 8px 0;
}

.booking-form input[type="submit"] {
    background: #2ecc71;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    outline: 0;
    border-radius: 8px;
}